domain
{
    tls email {
        protocols tls1.3
    }
    log {
        output file /var/log/caddy/access.log
    }
    header {
        Strict-Transport-Security max-age=31536000
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy no-referrer-when-downgrade
    }
    encode

    route * {
        route /ss_direct_path {
            rewrite * /
            reverse_proxy shadowsocks-direct:9000
        }
        route /ss_warp_path {
            rewrite * /
            reverse_proxy warp:9001
        }
        route * {
            header Content-Type text/html
            respond <<HTML
                <html>
                    <head>
                        <title>Welcome</title>
                        <style>
                            body {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100vh;
                                margin: 0;
                                font-size: 60px;
                                text-align: center;
                            }
                        </style>
                    </head>
                    <body>May the Force be<br>with you</body>
                </html>
            HTML 200
        }
    }
}
